name: Build Flutter APK

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter (force exact version)
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'   # <-- la version exacte à utiliser
          channel: stable
          cache: false

      - name: Show Flutter & Dart version (debug)
        run: flutter --version

      - name: Disable analytics (évite prompts)
        run: flutter config --no-analytics

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: lualaba-konnect-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
